---
layout: projects
title: Michael Allar's Projects
description: "Projects"
comments: true
---

{% for post in site.categories.projects %}
<article class="hentry">
  <header>
    {% if post.image.feature %}
      <div class="entry-image-index" style="text-align: center">
        <a href="{{ post.link }}" title="{{ post.title }}"><img src="{{ site.url }}/images/{{ post.image.feature }}" alt="{{ post.title }}"></a>
      </div><!-- /.entry-image -->
    {% endif %}
    {% if post.link %}
      <h1 class="entry-title"><a href="{{ post.link }}">{{ post.title }}</a></h1>
    {% else %}
      <h1 class="entry-title"><a href="{{ site.url }}{{ post.url }}" rel="bookmark" title="{{ post.title }}" itemprop="url">{{ post.title }}</a></h1>
    {% endif %}
  </header>
  <div class="entry-content">
    {{ post.content }}
  </div><!-- /.entry-content -->
</article><!-- /.hentry -->
{% endfor %}