---
layout: home-index
title: Michael Allar's Blog
description: "About Unreal Engine 4 Game Development and Other Things"
tags: [Allar, blog]
comments: true
featured-image: "GenericShooterFeature.png"
---

<article>
  <div class="featured-header">
    <h1>Over 1000 UE4 Marketplace Units Sold!</h1>
    <div class="featured-thumbnail">
      <a href="#" title="Generic Shooter"><img src="{{ site.url }}/images/featured/{{ page.featured-image }}"></a>
    </div><!-- /.preview-thumbnail-index -->
    <div class="entry-content">
      <p>Generic Shooter is a released marketplace asset is an ongoing project that allows customers to quickly start up a fully blueprint first and third person shooter with much of the scaffolding already built. It is currently one of the best selling Unreal Engine Marketplace Assets with more than 1000 units sold.</p>
      <p><a href="https://www.unrealengine.com/marketplace/generic-shooter-sample-project" target="_blank">Learn more about Generic Shooter here!</a></p>
    </div>
    <div class="featured-footer"></div>
  </div>
</article>

<article>
  <div class="preview-header">
    <h1>Recent Blog Excerpts</h1>
  </div>
{% for post in site.posts limit: 3 %}
    <header>
      <div class="preview-entry-header">
        {% if post.thumbnail %}
          <div class="preview-entry-thumbnail">
            <a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}"><img src="{{ site.url }}/images/blog/thumbnails/{{ post.thumbnail }}" alt="{{ post.title }}"></a>
          </div><!-- /.preview-thumbnail-index -->
        {% endif %}
        {% if post.link %}
          <h1 class="preview-entry-title"><a href="{{ site.url }}{{ post.url }}" class="permalink" rel="bookmark" title="{{ post.title }}"><i class="fa fa-bookmark"></i></a> <a href="{{ post.link }}">{{ post.title }}</a></h1>
        {% else %}
          <h1 class="preview-entry-title"><a href="{{ site.url }}{{ post.url }}" rel="bookmark" title="{{ post.title }}" itemprop="url">{{ post.title }}</a></h1>
          <h2 class="preview-entry-date"><time datetime="{{ post.date | date_to_xmlschema }}"><a href="{{ site.url }}{{ post.url }}">{{ post.date | date: "%B %d, %Y" }}</a></time> by {{ site.owner.name }}</h2>
        {% endif %}
      </div>
    </header>
    <div class="entry-content">
      {% if post.content contains "<!-- more -->" %}
      {{ post.content | split:"<!-- more -->" | first % }} <a href="{{ site.url }}{{ post.url }}" rel="bookmark" title="{{ post.title }}" itemprop="url">[Click here to Read More...]</a>
      {% else %}
        {{ post.content }}
      {% endif %}
    </div><!-- /.entry-content -->
    <hr>
{% endfor %}
  <div class="preview-entry-footer">
    <a href="/blog/">Click here for all blog posts...</a>
  </div>
</article>