<article class="hentry">  
  <div class="latest-videos">
    <div class="recents-header">
      <div class="entry-image">
        <img src="{{ site.url }}/images/abstract-7.jpg">
      </div>
      <div class="header-title">
        <div class="header-title-wrap">
          <i class="icon fa fa-youtube-play fa-2x"></i>
          <h1><a href="http://www.youtube.com/awesomeallar">Latest Videos</a></h1>
        </div><!-- /.header-title-wrap -->
      </div><!-- /.header-title -->
    </div>
    <ul id="vidlist" class="fa-ul">
    </ul>
    <script>
      $.getJSON('https://www.googleapis.com/youtube/v3/search?key=AIzaSyBigB_WhiSAxD_LuLBYdf9tPQlL83Ywar8&channelId=UCXkrfkh3rtu08D1fZlhbPpw&part=snippet,id&order=date&maxResults=5', function(data) {
        for (var i = 0; i < data.items.length; ++i)
        {
          console.log(data.items[i].id.videoId);
          $('#vidlist').append('<li><a href="https://www.youtube.com/watch?v='+ data.items[i].id.videoId + '"><img src="' + data.items[i].snippet.thumbnails.default.url + '">' + data.items[i].snippet.title + '</a></li>');
        }
      });

    </script>
  </div>
</article>