<article class="hentry">
  <div class="recents-header">
    <div class="entry-image">
      <img src="{{ site.url }}/images/abstract-7.jpg">
    </div>
    <div class="header-title">
      <div class="header-title-wrap">
        <i class="twitter fa fa-twitter fa-2x"></i>
        <h1><a href="http://www.twitter.com/michaelallar">Tweets</a></h1>
      </div><!-- /.header-title-wrap -->
    </div><!-- /.header-title -->
  </div>
  <a class="twitter-timeline" href="https://twitter.com/MichaelAllar" data-chrome="noheader" data-widget-id="595965739191836673">Tweets by @MichaelAllar</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</article>