<div class="seperator-header">
  <div class="entry-image">
    <img src="{{ site.url }}/images/ps_neutral.png">
  </div>
  <div class="header-title">
    <div class="header-title-wrap">
      <i class="clock fa fa-users fa-3x"></i>
      <h1>Recent Clients</h1>
    </div><!-- /.header-title-wrap -->
  </div><!-- /.header-title -->
</div>

<div class="clients">
	<a href="http://www.atari.com"><img src="/assets/clients/Atari_logo.png"></a>
	<a href="https://www.505games.com/"><img src="/assets/clients/505games_logo.png"></a>
	<a href="http://utcaerospacesystems.com/"><img src="/assets/clients/utc_logo.png"></a>
	<a href="http://www.goodrich.com/"><img src="/assets/clients/goodrich_logo.png"></a>
	<a href="http://www.sectionstudios.com/"><img src="/assets/clients/section_logo.png"></a>
	<a href="http://www.aitd.com"><img src="/assets/clients/pure_logo.png"></a>
	<a href="https://www.plasticpiranha.com/"><img src="/assets/clients/plasticpiranha_logo.png"></a>
	<a href="https://www.blindwink.com/"><img src="/assets/clients/blindwink_logo.jpg"></a>
	<a href="http://store.steampowered.com/app/247730/"><img src="/assets/clients/nether_logo.png"></a>
</div>